.Main {
  align-items: center;
  display: flex;
  min-height: 100vh;
  &--fluid {
    width: 80%;
    @media screen and (max-width: 1399px) {
      width: 100%;
    }
  }
}
.Main__slogan, .Main__register {
}
.Main__slogan {
}
.Main__register {
}
.Main__slogan__figure {
  img {
    @media screen and (max-width: 991px) {
      width: 30%;
    }
    @media screen and (max-width: 767px) {
      width: 50%;
    }
  }
}

.Main__resalt {
  font-family: "catalina";
  @media screen and (max-width: 767px) {
    font-size: 3em;
  }
  .fontMasterBreak {
    @media screen and (max-width: 767px) {
      font-size: .7em;
    }
  }
}
.Main__awards {
  padding-left: 0;
  li {
    list-style: none;
    margin-right: 1.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}
.Main__info {
  font-family: $aaux;
  font-size: 1.25rem;
  word-break: break-all;
  span {
    display: block;
  }
  a {
    color: $darkColor;
    font-weight: 700;
    &:focus, &:hover {
      color: $accentColor;
    }
  }
}
.Main__message {
  font-family: $myriadBold;
  font-size: 3rem;
  @media screen and (max-width: 767px) {
    font-size: 2.5rem;
  }
}
.Main__title {
  font-family: $myriadBold;
  font-size: 3rem;
  @media screen and (max-width: 767px) {
    font-size: 2.5rem;
  }
}
