// Colors:
$firstColor: #355c9d; // azul
$secondColor: #e7b4b8; // rosado
$thirdColor: #5b9cd6; // celeste
$accentColor: #d6606e; // rosado fuerte
$darkColor: #131c31; // azul fuerte
$borderColor: #939292; //
$textColor: #000000; //
$bodyBg: #ffffff; //
$dangerColor: #dc3545;

// Fonts:
$myriad: 'myriad-regular', sans-serif;
$myriadBold: 'myriad-bold', sans-serif;
$catalina: 'catalina', sans-serif;
$aaux: 'aaux-italic', sans-serif;
